.header {
	$bggradient: radial-gradient(circle, #fd2d45, #fe4a5d);
	$purple: rgba(50, 44, 112, 0.33);
	$purpleinvis: rgba(50, 44, 112, 0);
	$orange: rgba(235, 116, 56, 0.89);
	$orangeinvis: rgba(235, 116, 56, 0);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: $bggradient;
	position: relative;
	text-align: center;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);

	&:after {
		position: absolute;
		content: '';
		inset: 0;
		background: linear-gradient(
			120deg,
			$purple,
			$purpleinvis,
			$orangeinvis,
			$orange
		);
	}

	.topIcon {
		$size: min(20vw, 40vh);
		$shadowSize: min(0.5vw, 1vh);
		width: $size;
		height: $size;
		filter: drop-shadow(0 $shadowSize $shadowSize rgba(0, 0, 0, 0.5));
	}

	h1 {
		font-size: 3.5rem;
		font-weight: 700;
		margin-top: 2rem;
		margin-bottom: 0.25rem;
		z-index: 1;
		max-width: 90%;
	}

	h2 {
		font-size: 2rem;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 0.5rem;
		z-index: 1;
		max-width: 90%;
	}

	p {
		font-size: 1.5rem;
		z-index: 1;
		max-width: 90%;
	}

	.headerText,
	.smallShadowText,
	.shadowText {
		color: #fff;
	}
	
	.shadowText {
		filter: drop-shadow(0 3.3px 2px rgba(0, 0, 0, 0.3));
	}
	.smallShadowText {
		filter: drop-shadow(0 1.65px 1px rgba(0, 0, 0, 0.3));
	}

	.browserIcons {
		display: flex;
		gap: 1rem;
		max-width: 90%;
		flex-wrap: wrap;
		justify-content: center;

		.iconGroup {
			display: flex;
			gap: 1rem;
			flex-wrap: nowrap;
		}

		.browserIcon {
			position: relative;
			z-index: 1;
			width: 5rem;
			height: 5rem;
			transition: transform 0.2s ease-in-out;
			filter: drop-shadow(0 3.3px 2px rgba(0, 0, 0, 0.3));
	
			&:hover {
				transform: scale(1.2);
			}

			&:last-child {
				flex-wrap: nowrap;
			}
		}
	}
}

.starter {
	text-align: center;

	.intro {
		font-size: 1.4rem;
		margin-bottom: 5rem;
		margin-top: 3rem;
	}

	h2 {
		font-size: 3rem;
	}

	ol {
		list-style: none;
		padding: 0;
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 1100px) {
			flex-direction: column;
			gap: 2rem;
		}

		li {
			gap: 1rem;
			flex-basis: 30%;
			background-color: var(--last-fm-bg-weak);
			padding: 1rem;
			box-sizing: border-box;
			border-radius: 2rem;
			box-shadow: var(--neuomorphic-bottom), var(--neuomorphic-top);

			h3 {
				font-size: 2rem;
				margin: 0;
			}

			p {
				font-size: 1.1rem;
				font-weight: 300;
			}
		}
	}
}

.features {
	background-color: var(--background-site);
	box-shadow: 0 -0.5rem 0.5rem rgba(0, 0, 0, 0.4);

	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
		margin: 0;

		li {
			flex: 0 0 45%;
			text-align: center;
			padding: 1rem;
			box-sizing: border-box;
			margin-bottom: 2rem;
			border-radius: 2rem;
			box-shadow: var(--neuomorphic-bottom), var(--neuomorphic-top);

			@media screen and (max-width: 750px) {
				flex: 0 0 100%;
			}

			h3 {
				font-size: 1.75rem;
				margin: 0;
			}

			p {
				font-size: 1.1rem;
				font-weight: 300;
			}
		}
	}
}

.connectors {
	padding: 0;
	background-color: var(--background-site);
	position: relative;
	box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);

	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;

		&:not(.expandedList) {
			max-height: 25vh;
			overflow: hidden;
			position: relative;
			box-sizing: content-box;
			
			&:after {
				position: absolute;
				content: "";
				inset: 0;
				background: linear-gradient(
					to bottom,
					rgba(0, 0, 0, 0),
					rgba(0, 0, 0, 0.3) 90%
				);
			}
		}

		li {
			flex: 0 0 25%;
			padding: 0.25rem;
			box-sizing: border-box;
			text-align: center;

			@media screen and (max-width: 1100px) {
				flex: 0 0 33%;
			}

			@media screen and (max-width: 850px) {
				flex: 0 0 50%;
			}

			@media screen and (max-width: 500px) {
				flex: 0 0 100%;
			}
		}
	}

	.expandButton {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color:rgba(0, 0, 0, 0);
		border: none;
		appearance: none;
		cursor: pointer;
		width: 100%;
		padding-bottom: 0.5rem;
		padding-top: 3rem;
		
		&>svg {
			fill: var(--text);
		}
	}
}

.contributing {
	font-size: 1.05rem;
}
